/* img {
    margin-top: 1rem;
}

h3 {
    padding-left: 1rem;
}

a {
    text-decoration: none;
    padding-left: 1rem;
}

a:visited {
    color: blue;
}

.info {
    margin-right: auto;
    margin-left: 1rem;
    margin-top: 2rem;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.btn {
    margin: 1rem;
    background: transparent;
    padding: 15px;
    outline: none;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
}

.btn:hover {
    background-color: red;
    color: #fff;
}

table {
    margin-top: 2rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 10%;
}

thead th:nth-child(4) {
    width: 15%;
}

td {
    color: grey;
}

th,
td {
    padding: 20px;
} */

.wrapper {
    display: flex;
    height: 100vh;
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content: flex-start;
}

.right {
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.img-container {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
    padding: 1rem;
    display: flex;
}

.img {
    flex: 1;
    display: flex;
    max-width: 100%;
    width: 300px;
}

.details {
    padding: 1rem;
}

.title-about {
    border-bottom: 1px solid rgb(83, 83, 83);
}

.about {
    border-bottom: 1px solid rgb(83, 83, 83);
}

.description {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.description::-webkit-scrollbar {
    -webkit-appearance: none;
}

.description::-webkit-scrollbar:vertical {
    width: 3px;
    height: 3px;
}

.description::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: none;
}

.description {
    overflow-y: auto;
    height: 150px;
    display: flex;
}

.related-artists {
    display: flex;
    overflow-x: auto;
}

.related-artist {
    margin-right: .5rem;
}

.img-related {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}

.title {
    font-weight: 300;
    font-size: 20px;
}

.albums {
    padding: 1rem;
    border-bottom: 1px solid rgb(83, 83, 83);
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.albums::-webkit-scrollbar {
    -webkit-appearance: none;
}

.albums::-webkit-scrollbar:horizontal {
    width: 0px;
    height: 3px;
}

.albums::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: none;
}

.albums-content {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

.image {
    border-radius: 5px;
}

.albums-content p {
    text-align: center;
}

.date {
    color: rgb(83, 83, 83);
    text-align: start !important;
}

.tracks {
    margin-top: 2rem;
    flex-direction: column;
}

iframe {
    border-radius: 5px;
}

.track-name {
    padding-left: 2rem;
}

.pagination {
    margin: 20px 0;
}

.pagination ul {
    list-style: none;
    text-align: end;
}

.pagination ul li {
    display: inline-block;
    margin-right: 10px;
}

.pagination ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 20px;
}

.pagination ul li a:hover {
    color: rgb(83, 83, 83);
    background-color: #fff;
}