<nav>
    <div class="navbar-content">
        <div class="logo">
            <img class="img-circle" src="../../../../assets/img/banner-ico.png" alt="Logo">
            <a class="a" href="#">Spotiapp</a>
        </div>
        <div class="topnav">
            <ul>
                <li>
                    <a routerLink="home" routerLinkActive="active" href="#">Home</a>
                </li>
                <li>
                    <a routerLink="search" href="#">Search</a>
                </li>
            </ul>
        </div>
    </div>
</nav>