h2 {
    text-align: center;
    margin: 2rem;
    font-size: 40px;
}

.img-fluid {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 2rem;
}

.card {
    border-radius: 3px;
}

.card-content {
    padding: 1rem;
}

.pagination {
    text-align: right;
}

.content {
    font-weight: 300;
    font-size: 15px;
    color: rgb(83, 83, 83);
}